.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
    
    &--main {
      display: block;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: 35px;
      animation-name: moveInLeft;
      animation-timing-function: ease-out;
      animation-duration: 1s;
    }
    
    &--sub {
      display: block;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 17.4px;
      animation-name: moveInRight;
      animation-timing-function: ease-out;
      animation-duration: 1s;
    }
  }